@use "variables" as *;
@use "sass:color" as *;

.information-section {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px 0;
  background-color: $background;
}
.site-exploration-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height: clamp(350px, 25vh, 700px);
  width: clamp(250px, 50vw, 300px);
  border-radius: 10%;
  align-items: center;
  padding: 15px;
  row-gap: 10px;
  

  color: black;

  .svg-wrapper {
    width: 40%;
    margin-top: $l;
  }

  a {
    border-radius: 5px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: $transition;
    padding: $s $xl;
  }

  h2 {
    text-align: center;
    padding: $s;
    width: 90%;
    border-top: rgba(248, 248, 248, 0.756) 1px solid;
  }
}

.artisan-brown {
  background: $artisan-brown;

  a {
    border: 2px solid adjust($artisan-brown-flat, $lightness: -20%);
    &:hover {
      background-color: adjust($artisan-brown-hover, $lightness: -5%);
    }
  }
}

.artisan-green {
  background: $artisan-green;

  a {
    border: 2px solid adjust($artisan-green-flat, $lightness: -20%);
    &:hover {
      background-color: adjust($artisan-green-hover, $lightness: -5%);
    }
  } 
}

.artisan-rust {
  background: $artisan-rust;

  a {
    border: 2px solid adjust($artisan-rust-flat, $lightness: -20%);
    &:hover {
      background-color: adjust($artisan-rust-hover, $lightness: -5%);
    }
  } 
}

.artisan-sand {
  background: $artisan-sand;

  a {
    border: 2px solid adjust($artisan-sand-flat, $lightness: -20%);
    &:hover {
      background-color: adjust($artisan-sand-hover, $lightness: -5%);
    }
  } 
}

// .tech-blue {
//   background: $tech-blue;

//   a {
//     border: 2px solid adjust($tech-blue-flat, $lightness: -20%);
//     &:hover {
//       background-color: adjust($tech-blue-hover, $lightness: -7%);
//     }
//   }
// }

// .raspberry-red {
//   background: $raspberry-red;

//   a {
//     border: 2px solid adjust($raspberry-red-flat, $lightness: -20%);
//     &:hover {
//       background-color: adjust($raspberry-red-hover, $lightness: -5%);
//     }
//   }
// }


/*make the cards float in and have them randomized order, maybe multiple categories can appear if time */
