//GLOBAL
$background: #f4f3f0;
$foreground: #f1ece5;
$text-color: #000000;

$header-big-font: "Epunda Slab" serif;
$header-small-font: "Poppins" sans-serif;
$body-font: "Playfair Display" Arial, Helvetica, sans-serif;

$angle: 45deg;

//Breakpoints
$breakpoint-s: 576px;
$breakpoint-m: 768px;
$breakpoint-l: 1080px;

//BROWN
$artisan-brown-flat: rgb(60% 36.5% 15.3%);
$artisan-brown-hover: rgba(153, 92, 39, 0.5);

$artisan-brown: linear-gradient(
  $angle,
  rgb(45.9% 26.7% 7.84%),
  rgb(60% 36.5% 15.3%),
  rgb(63.9% 44.7% 21.2%),
  rgb(69% 52.5% 29.8%)
);

//GREEN
$artisan-green-flat: rgb(34% 50% 34%);  
$artisan-green-hover: rgb(25% 42% 25%); 


$artisan-green: linear-gradient(
  $angle,
  rgb(18% 30% 16%),   // verde bosque profundo
  rgb(25% 42% 25%),   // verde oliva
  rgb(34% 50% 34%),   // verde musgo
  rgb(42% 60% 42%)    // verde tierra suave
);

//RUST
$artisan-rust-flat: rgb(62% 32% 22%);   
$artisan-rust-hover: rgb(55% 25% 15%);  

$artisan-rust: linear-gradient(
  $angle,
  rgb(45% 18% 10%),   // terracota oscuro
  rgb(55% 25% 15%),   // cobre tostado
  rgb(62% 32% 22%),   // ladrillo
  rgb(70% 40% 28%)    // óxido suave
);

//SAND
$artisan-sand-flat: rgb(72% 64% 50%);    
$artisan-sand-hover: rgb(58% 47% 32%);   

$artisan-sand: linear-gradient(
  $angle,
  rgb(80% 72% 58%),   // beige claro
  rgb(72% 64% 50%),   // arena tostada
  rgb(65% 55% 40%),   // caramelo suave
  rgb(58% 47% 32%)    // marrón arena
);

//utility
$transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
$xxs: 0.236em;
$xs: 0.382em;
$s: 0.618em;
$m: 1em;
$l: 1.618em;
$xl: 2.618em;
$xxl: 4.236em;

@use "sass:map";
